/* Styles go here */

.lightbox-overlay {
  
  z-index : 1000;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #eee;
  opacity : 0.9;
  top: 0px;
  left: 0px;
}

.lightbox-container{
  z-index: 1001;
  position: fixed;
    top: 25%;
    left: 50%;
    height: 200px;
    min-height: 150px;
    width: 400px;
    margin-left: -200px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.lightbox-header{
  background-color: #999;
  width: 100%;
  height: 30px;
  padding-top: 5px;
  border-top-left-radius: 10px 10px;
  border-top-right-radius: 10px 10px;
  display: inline-block;
}

.lightbox-header > span {
  display: inline-block;
  margin-left: 20px;
  margin-top: 5px;
  
}
.lightbox-header .lightbox-control{
  color: red;
  right: 15px;
  position: absolute;
}

.lightbox-content{
  background-color: #bbc;
  height: 100%;
  border-bottom-left-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
  border: 2px solid #999;
  padding: 10px;
}
